<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/commands.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <title>CuyBot</title>
</head>
<body>
    <nav>
        <img id="logobot" src="{{url_for('static', filename='BotLogo.png')}}" width="60" height="60">
        <div class="wrapper">
            <div class="menu">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="/commands">Commands</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/#about" class="tbl-biru">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
<table>

    <tr>
    <th>No</th>
    <th>Commands</th>
    <th>Description</th>
    </tr>
   
    <tr>
    <td>1</td>
    <td>cuy/status, cuy/stat, cuy/stats, cuy/test, cuy/ping</td>
    <td>Ping Bot Status</td>
    </tr>

    <tr>
    <td>2</td>
    <td>cuy/help, cuy/bantuan, cuy/command</td>
    <td>List All Commands</td>
    </tr>

    <tr>
    <td>3</td>
    <td>cuy/helo, cuy/hi, cuy/hai, cuy/hello</td>
    <td>Greet To Bot</td>
    </tr>

    <tr>
    <td>4</td>
    <td>cuy/covid</td>
    <td>Covid19 Data</td>
    </tr>
    
    <tr>
    <td>5</td>
    <td>cuy/berita</td>
    <td>News</td>
    </tr>

    <tr>
    <td>6</td>
    <td>cuy/quotes, cuy/quote, cuy/kutipan</td>
    <td>Quotes To Motivate Your Self</td>
    </tr>

    <tr>
    <td>7</td>
    <td>cuy/tiktok, cuy/follower, cuy/like, cuy/link, cuy/video</td>
    <td>Tiktok Account Information</td>
    </tr>

    <tr>
    <td>8</td>
    <td>cuy/usia [space] Name</td>
    <td>Guess The Age (Entertainment)</td>
    </tr>

    <tr>
    <td>9</td>
    <td>cuy/hp [space] merk hp, cuy/handphone, cuy/mobile, cuy/phone</td>
    <td>Smartphone Specification Information</td>
    </tr>

    <tr>
    <td>10</td>
    <td>cuy/hp baru, cuy/handphone baru, cuy/mobile baru, cuy/phone baru</td>
    <td>Latest Smartphone List Information</td>
    </tr>

    <tr>
    <td>11</td>
    <td>cuy/lirik, cuy/lyric, cuy/lyrics</td>
    <td>Search Song Lyrics</td>
    </tr>

    <tr>
    <td>12</td>
    <td>cuy/username</td>
    <td>Random username</td>
    </tr>

    <tr>
    <td>13</td>
    <td>cuy/. start</td>
    <td>Badut Game</td>
    </tr>

    <tr>
    <td>14</td>
    <td>cuy/wallpaper [genre]</td>
    <td>Show Wallpaper From Genre</td>
    </tr>

    <tr>
    <td>15</td>
    <td>cuy/dict</td>
    <td>Dictonary</td>
    </tr>

    <tr>
    <td>16</td>
    <td>cuy/tebak wajah</td>
    <td>Guess Your Face</td>
    </tr>
    
</table>
<div class="page_end">
    <div class="footer">
        <div class="bot-footer">
            <img src="{{url_for('static', filename='BotLogo.png')}}" width="150"><br />
            Copyright ©CuyBot Companny
        </div><br/>
    </div>
</div>