<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/game.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <link rel="stylesheet" href="/static/style.css">   <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <title>CuyBot</title>
    <link rel="shortcut icon" href="../static/favicon.ico" />
</head>
<body>
    <nav>
        <img id="logobot" src="{{url_for('static', filename='BotLogo.png')}}" width="60" height="60">
        <div class="wrapper">
            <div class="menu">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="/commands">Commands</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="#about" class="tbl-biru">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="heading">
        <div class="games">
            <h1 class="display-5 title">Play TicTacToe</h1>
            <a class="btn btn-secondary btn-lg" href="/tictactoe" role="button">Play!</a>
            <br /><br /><br /><br /><br /><br />
        </div>
    </div>
    <div class="page_end">
        <div class="footer">
            <div class="bot-footer">
                <img src="{{url_for('static', filename='BotLogo.png')}}" width="150"><br />
                Copyright ©CuyBot Companny
            </div><br/>
        </div>
    </div>
</body>
</html>